
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;
	vertical-align: baseline;*/
    font-family: Verdana, sans-serif;

}
body{
	border:none;
}
h2{
	font-size:24px;
	color:#001d33;
	font-weight: bold;
	border:none;
	clear: both;
}
table{
	width: 592px;
	height: 842px;
	border: none;
	clear: both;
}
td{
	font-size: 11px !important;
	border:none;
}
#alinha960{
	width: 592px;
	height: 842px;
	border:none;
	margin: 0 auto;
	clear: both;
}
div{
	border: none;
}
.tabelaconteudo{
	padding-top:15px;
	border: none;
}
.tabelaconteudo thead td{
	font-size: 14px;
	font-weight: bold;
}
.tabelaconteudo tbody tr{
	background-color: #e3e3e3;
}
.tabelaconteudo tbody td{
	font-size: 12px;
	padding-left: 5px;
}
.tabelaconteudo tbody td a{
	text-decoration: none;
	color:#000;
	float: left;
}
.tabelaconteudo tbody td span{
	float: left;
    padding: 2px 9px 0 2px;
}