@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/*font: inherit;
	vertical-align: baseline;*/
    font-family: 'Droid Sans', sans-serif;

}
html{
	position: relative;
    min-height: 100%;
}
body{
	background-color: #f8f8f8;
	margin: 0 0 60px;
}
.login{
	background:url(../images/fundo-index.png) no-repeat;
	background-position: center top;
	width: 100%;
	height: 100%;
	background-color: #FFF;
}
.alinha960{
	width: 1010px;
	margin: 0 auto;
	min-height: 100%;
}
.arealogin{
	background: url(../images/bg-login.png) no-repeat;
	width: 516px;
	height: 439px;
	margin: 0 auto;
	position: relative;
	top: 80px;
}
.arealogin img{
	float: left;
    height: 79px;
    margin: 50px 0 0 140px;
    width: 209px;

}
.arealogin table{
	float: left;
	margin: 40px 0 0 130px;
	font-weight: bold;
	font-size: 16px;
}
.aviaologin{
	float: left;
    margin: 60px 0 0 120px;
}
header{
	height: 100%;
}
.topointerna{
	background: url(../images/topo.png)no-repeat;
	width: 100%;
	height: 198px;
	background-position: top;
}
.logo{
	float: left;
	margin: 40px 0 0 20px;
	width: 209px;
	height: 79px;
}
.logo p{
	color: #fff;
    float: left;
    font-size: 16px;
    margin: -5px 0 0 70px;
}
.menu{
	float: left;
	margin-left: 150px;
}
.menu li{
	display: inline-block;
	list-style: none;
	width: 101px;
	height: 175px;
}
.menu li:hover{
	background-color: #426985;
	width: 101px;
	height: 175px;
}
h1{
	font-size: 36px;
	color:#001d33;
	font-weight: bold;
	border-bottom: 1px solid #a6a6a6;
}
h1 span{
	font-size: 28px;
}
.botaoadicionar{
	position: relative;
	top: -34px;
	left: 839px;

}
.tabelaconteudo{
	padding-top:15px;
	border: none;
}
.tabelaconteudo thead td{
	font-size: 14px;
	font-weight: bold;
}
.tabelaconteudo + tbody tr{
	background-color: #e3e3e3;
}
.tabelaconteudo + tbody tr:hover{
	background-color: #f8f8f8;
}
.tabelaconteudo + tbody td{
	font-size: 12px;
	padding-left: 5px;
}
.tabelaconteudo + tbody td a{
	text-decoration: none;
	color:#000;
	float: left;
}
.tabelaconteudo + tbody td img{
	float: left;
}
.tabelaconteudo + tbody td span{
	float: left;
    padding: 2px 9px 0 2px;
}
.tabelaconteudo + tbody td span:hover{ text-decoration: underline;}
footer{
	background: url(../images/bg-rodape.png) repeat-x;
	width: 100%;
	position:absolute;
	bottom: 0;
	height: 60px;
	color: #FFF;
	font-weight: normal;
	font-size: 14px;
}
footer span{
	left: 380px;
    position: relative;
}
footer  a{
	left: 700px;
    position: relative;
    top: 10px;
}


.login-message {
	border: 2px solid #cb1f1f;	
	color: #000;
	border-radius: 5px;
	text-align: center;
	width: 290px;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(219, 45, 45, 0.2);
	display: none;
}

.teacher-status a {
	padding: 12px 15px 12px 8px;
	font-size: 15px;
}

.teacher-status a.green { color: #26b032; }
.teacher-status a.red { color: #c92929; }

.big-calendar {
	margin-bottom: 100px;
}

.big-calendar td {
	padding: 10px;
	background: #F1F1F1;
}

.period {
	float: left;
	position: relative;
	width: 100%;
	background-color: #EEE;
	border: 1px solid #D5D5D5;
	margin-top: 5px;
	border-radius: 5px;
	/*padding-top: 30px;*/
	z-index: 1;
	min-height: 20px;
}

.period img {
	display: none;
}

.period .teacher, .period .teacher .fa {
	color: #FFF;
}



/*.period:after {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 5px;
	padding-left: 5px;
	font-family: Helvetica, Arial ,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #AAA;
	background: #DFDFDF;
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	
}

.period.morning:after {
	content: "Manhã";
}

.period.afternoon:after {
	content: "Tarde";
}

.period.night:after {
	content: "Noite";
}

.period.ead:after {
	content: "EAD";
}*/

.period.disabled {
	opacity: .2;
}

.drop.highlighted {
	background: #F9F9F9;
}

.teacher-list {
	margin-top: 20px;
}
                                 
.teacher-list .teacher {         
	cursor: move;  
	background: #417857; 
	color: #FFF;
	margin: 0;     
	padding: 10px;
	border-radius: 5px;      
	                             
	/*transition: all .5s;         
	-moz-transition: all .5s;    
	-webkit-transition: all .5s; 
	-o-transition: all .5s;      
	-ms-transition: all .5s;  */   
}

.teacher-list .teacher p {
	margin: 0;
}   

.teacher-list .teacher br {
	display: none;
}   

.teacher-list .teacher.hide {
	display: none;
}                                

.hide {
	display: none;
}

tr.header td {
	background: #DFDFDF;
	font-weight: bold;
}

tr.days td {
	border: 1px solid #FFF
}
                                
.teacher-list {
	float: left;
	width: 100%;
	margin-bottom: 50px;
}

.teacher-list-fixed {
	position: fixed;
	top: 0;
	left: 0;
	padding: 15px;
	background: #FFF;
	border-bottom: 1px solid #EEEEEE;
	box-shadow: 0 2px 4px #CCC;
	z-index: 1000;
}

.teacher-list .teacher {
	float: left;
	position: relative;
	width: 100px;
	max-width: 200px;
	margin-right: 20px;
	z-index: 2;
}

.teacher-list .teacher img {
	border-radius: 50px;
	margin-bottom: 10px;
	display: none;
}

.teacher-list .teacher p {
	width: 100%;
	font-size: 13px;
	text-align: center;
}

.period .teacher {
	float: left;
	position: relative;
	width: 100% !important;	
	max-width: 200px;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 5px;
	border-radius: 5px;
	background: #417857;
}

.period .teacher br {
	float: left;
	display: none;
}

.period .teacher img {
	width: 50px;
	float: left;
	margin-right: 10px;
	border-radius: 50px;
}

.period .teacher p {
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	color: #FFF;
	/*text-shadow: 0 0 5px rgba(0,0,0,.7);*/
}

.period.day_selected {
	background-color: #4cbb78;
	background-image: url('../images/disponivel.png');
	background-repeat: no-repeat;
	background-position: center 22px;
	border: #4e9369;
}

h1 select {
	border: 1px solid #ccc;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 36px;
}

.teacher-dash .period {
	cursor: pointer;
	min-height: 70px;
	background-position: center 22px;
}


.teacher.exists {
	background: #F00;
}

.teacher .teacher-menu {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 10;
}

.teacher .teacher-menu.delete {
	top: 10px;
	/*bottom: 5px;*/
}

.teacher .teacher-menu a {
	color: #fff;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
	background: #39607C;
	color: #FFF;
}

.tabela-professores input[name="dias_manha"], 
.tabela-professores input[name="dias_tarde"], 
.tabela-professores input[name="dias_noite"], 
.tabela-professores input[name="dias_ead"] {
	display: none;
} 

.tabela-professores tr {
	border-bottom: 1px solid #000;
}

.todas-materias {
	padding-top: 25px;
}

.materias-holder {
	float: left;
	width: 33.33%;
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}

.tabelaconteudo {
	font-size: 13px;
}

.tabelaconteudo thead tr  {
	background: #FFF;
}

.tabelaconteudo thead tr td {
	padding: 8px 3px;
	color: #365D7B;
	text-transform: uppercase;
	border-bottom: 1px solid #365D7B;
}

.tabelaconteudo tbody tr td {
	padding: 5px 0;
	border-bottom: 1px solid #EEE;
	
}

.tabelaconteudo tbody tr:nth-child(2n+2) td {
	background: #EEE;
}

.tabelaconteudo tbody tr:hover, .tabelaconteudo tbody tr:hover td{
	background: #FFF;
}

.tabelaconteudo tbody tr td a {
	margin-right: 5px;
	color: #368aca;
}


table.ui-datepicker-calendar {border-collapse: separate;}
	.ui-datepicker-calendar td {border: 1px solid transparent;}
	
#materia, #turma {
	width: 300px;
}

td.day-item {
	height: 0;
}

.sunday {
	font-size: 8px;
	width: 2%;
}

.hide-print {
	display: block;
}

.show-print {
	display: none;
}
